<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="shortcut icon" href="../public/images/pawprint.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A importância do banho e da tosa</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img id="dog-nav" class="nav-link" src="../public/images/dog2.png" alt="Um desenho de cachorro minimalista"
                        title="Clique para ir para a página inicial">
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="importancia.html">A importância do banho e da tosa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="recomendacao.html">Quem late, confia!</a>
                    </li>

                </ul>

            </div>
        </nav>

    </header>


    <section class="container">
        <div class="row">
            <div class="jumbotron shadow col-sm-6 mt-5">
                <h1 class="display-4">Por que escolher o Banhe o Eduardo?</h1>
                <p class="lead">Temos como objetivo mostrar aos clientes a importância do banho e da tosa e
                    convencê-los
                    a experimentarem o Banhe o Eduardo!</p>
                <hr class="my-4">
                <p class="text-center">Venha nos visitar! Ficamos na Av. Diederichsen, 666 - Vila Guarani</p>
            </div>

            <div class="accordion mt-5 col-sm-6" id="accordionExample">
                <div class="card shadow">
                    <div class="card-header panel-heading" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Cuidados na higienização
                            </button>
                            <div data-toggle="collapse" data-target="#collapseOne" class="collapse-icon">+</div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            O banho é extremamente importante para saúde e higiene dos pets e é um hábito necessário na
                            rotina do seu bichinho, além disso, os banhos e as tosas precisam ser realizados por
                            profissionais capacitados que tomam o devido cuidado com a pele, ouvidos, olhos, dentes e
                            pelos dos bichinhos. A higiene do bichinho de estimação ajuda a controlar a oleosidade
                            natural dos pelos e a deixá-lo com cheirinho mais agradável. Além disso, é necessária a
                            higienização dos dentes e das unhas dos pets. Fonte: DotPet
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header panel-heading" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Frequência do banho e da tosa
                            </button>
                            <div data-toggle="collapse" data-target="#collapseTwo" class="collapse-icon">+</div>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">

                            <p class="negrito">Frequência ideal para o banho</p>
                            As indicações da frequência dos banhos nos pets variam conforme a pelagem e raça do pet.
                            Veja abaixo algumas recomendações:

                            <ul>
                                <li>Cães de pelos curtos: Intervalo do banho pode ser de 2 em 2 meses.</li>
                                <li>Cães de pelos longos: Pelo longo com crescimento contínuo de 1 a 4 vezes por mês.
                                </li>
                                <li>Cães de pelos volumosos: Recomenda-se de 1 a 2 vezes por mês</li>
                            </ul>

                            <p class="negrito">Frequência ideal para a tosa</p>
                            Em relação à tosa, também é importante levar em conta o tempo ideal do corte dos pelos de
                            cada raça. Veja abaixo algumas recomendações:
                            <ul>
                                <li>Cães de pelos longos: Sugerido intervalo da tosa de 45 dias.</li>
                                <li>Cães de pelos variados: Intervalo de 2 a 3 meses.</li>
                            </ul>
                            Fonte: DotPet.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header panel-heading" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Tosa na tesoura, na máquina ou especializada?
                            </button>
                            <div data-toggle="collapse" data-target="#collapseThree" class="collapse-icon">+</div>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            A <span class="negrito">tosa na máquina </span>são cortes feitos por meio de uma lâmina
                            determinada, ou seja, cada número
                            de lâmina está relacionado ao comprimento do pelo, mantendo-o uniforme. Por outro lado
                            alguns profissionais não indicam o corte de máquina para algumas raças como Chow Chow e
                            Husky Siberiano, pois ao cortar a pelagem rente à pele, os pelos podem crescer de forma
                            diferenciada e descaracterizar a estética do animal.

                            A <span class="negrito"> tosa na tesoura </span> é recomendada para diversos cães e gatos,
                            pois o objetivo deste corte é
                            diminuir o comprimento dos pelos, sem modificar a forma original.

                            Existe também a <span class="negrito"> tosa da raça, </span> que são cortes feitos
                            especialmente para determinados tipos de
                            raça, já que eles caracterizam e acentuam a forma dos animais. Alguns tipos de raças são
                            caracterizados por esses cortes, como por exemplo: O Poodle, Lhasa Apso, Schnauzer,
                            Yorkshire e diversos outros. Fonte: DotPet.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header panel-heading" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Qual o nosso diferencial?
                            </button>
                            <div data-toggle="collapse"
                            data-target="#collapseFour" class="collapse-icon">+</div>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                        <div class="card-body">
                            <p class="negrito">Mas afinal, qual seria o diferencial do Banhe o Eduardo?</p>
                            Além de nossos profissionais serem altamente qualificados, sempre em busca de novos cursos
                            e
                            certificações que aumentem suas habilidades a fim de tratarem seus bichinhos com a melhor
                            qualidade possível, nós também oferecemos os três tipos de tosa citados, e não só:
                            ofertamos
                            todos os nossos serviços pelos preços mais acessíveis da região!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
    <script src="../public/javascripts/index.js"></script>
</body>

</html>