<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="shortcut icon" href="../public/images/pawprint.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quem late confia</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img id="dog-nav" class="nav-link" src="../public/images/dog2.png" alt="Um desenho de cachorro minimalista"
                        title="Clique para ir para a página inicial">
                </a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="importancia.html">A importância do banho e da tosa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="recomendacao.html">Quem late, confia!</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <section class="container mt-5 recommendation">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h1>Quem late, confia!</h1>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="round-image">
                            <img src="../public/images/alecrim.PNG" alt="">
                        </div>
                        <span class="dog-name">
                            <h3>Alecrim</h3>
                        </span>
                    </div>
                    <div class="balon left">
                        <h4>Auauauaua!</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="row align-items-center justify-content-end">
                    <div class="balon right">
                        <h4>Bark, Bark!</h4>
                    </div>
                    <div class="col justify-content-end">
                        <div class="round-image">
                            <img src="../public/images/boo.PNG" alt="">
                        </div>
                        <span class="dog-name">
                            <h3>Boo</h3>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="round-image">
                            <img src="../public/images/sheldon1.jpg" alt="">
                        </div>
                        <span class="dog-name">
                            <h3>Sheldon</h3>
                        </span>
                    </div>
                    <div class="balon left">
                        <h4>Woof, woof!</h4>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="row align-items-center justify-content-end">
                    <div class="balon right">
                        <h4>Arf, arf!</h4>
                    </div>
                    <div class="col justify-content-end">
                        <div class="round-image">
                            <img src="../public/images/faisca.jpg" alt="">
                        </div>
                        <span class="dog-name">
                            <h3>Faísca</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
    <script src="../public/javascripts/index.js"></script>
</body>

</html>