#dog-nav{
    width: 150px;
    height: 75px;
    padding: 0;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: Arvo;
    src: url(../fonts/Arvo-Regular.ttf);
}

nav{
    background: -webkit-gradient(linear, left top, right top, from(#0077b3), to(#0088cc));
}

.jumbotron{
    height: auto;
    min-height: 485px;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

nav ul li{
    font-family: Roboto;
}

.negrito{
    font-weight: bold;
}

.panel-heading{
    background: #0099e6;
}

.shadow{
    box-shadow: 10px 5px 13px -3px rgba(0,0,0,0.81);
}

#titulo{
    font-size: 34px;
    color: white;
    font-family: Arvo;
}

.collapse-icon {
    float: right;
    line-height: 38px;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}

.round-image img {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
} 

.balon {
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 1px 7px #00000078;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 210px;
    height: 115px;
    margin-bottom: 45px;
    background-color: #0477B2;
    color: white;
}

.balon.left::after {
    position: absolute;
    content: "";
    left: -20px;
    border-right: 20px solid #0477b2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.balon.left{
    margin-left: 30px;
    order: 3;
}

.balon.right::after {
    position: absolute;
    content: "";
    right: -20px;
    border-left: 20px solid #0477b2;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.balon.right{
    margin-right: 30px;
    order: 1
}

.dog-name {
    width: 150px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
}

.recommendation .col{
    flex-grow: 0;
    order: 2;
}

@media screen and (max-width: 480px) {
    .balon.right {
        order: 4;
    }   
}